@use 'sass:math';
@use '../mixins/media' as *;
@use '../vars' as *;

.subscribe {
  padding: 102px 0 54px;
  overflow-x: hidden;

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    background: #f4f9ff;
    border-radius: 30px;
    padding: 30px 15px;

    @include tablet {
      padding: 30px;
      border-radius: 75px;
    }

    @include laptop {
      flex-direction: row;
      justify-content: space-evenly;

      height: 292px;
    }

    &::before {
      content: '';
      position: absolute;
      left: -38px;
      top: 50%;
      width: var(--segment-size);
      height: var(--segment-size);
      border-bottom-left-radius: var(--segment-corner-radius);
      background: var(--orange);
      z-index: -1;
    }

    &::after {
      content: '';
      position: absolute;
      right: -37px;
      top: -56px;
      width: 175px;
      height: 154px;
      background: url(images/dot_ornament.svg);
      z-index: -1;
    }
  }

  .backdrop {
    position: absolute;
    top: 0;
    right: 0;
    width: math.div(500px, $containerWidth) * 100%;
    height: 100%;
    background-color: var(--blue);
    border-radius: 200px 75px 75px 290px;

    @include tablet($mobileFirst: false) {
      display: none;
    }
  }

  p {
    font-size: 18px;
    margin-top: 17px;
  }

  form {
    position: relative;

    @include mobile {
      width: 100%;
    }
  }

  .field {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;

    @include tablet {
      flex-direction: row;
      width: 480px;
      border-radius: 60px;
      padding: 10px;
      padding-left: 34px;
      background-color: #fff;
      box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.15);
    }
  }

  input {
    border: none;
    outline: none;
    flex-grow: 1;

    @include mobile {
      padding: 15px;
      border-radius: 60px;
    }

    &::placeholder {
      color: #959595;
    }
  }
}
