<section id="clients" class="clients">
  <div class="container">
    <div class="content">
      <h2>Our Client</h2>
      <p>Several selected clients, who already believe in our service.</p>
    </div>

    <div class="links">
      <a href="#" target="_blank"><img src="images/google.svg" alt="google"></a>
      <a href="#" target="_blank"><img src="images/airbnb.svg" alt="airbnb"></a>
      <a href="#" target="_blank"><img src="images/uber_eats.svg" alt="uber eats"></a>
      <a href="#" target="_blank" class="amazon"><img src="images/amazon.svg" alt="amazon"></a>
    </div>
  </div>
</section>