<section id="feedback" class="feedback">
  <div class="container">
    <h2>What our happy client say</h2>
    <p>Several selected clients, who already believe in our service.</p>

    <div class="slider-wrapper">
      <div class="slider">
        <div class="slides swiper-wrapper">
          <div class="slide swiper-slide">
            <img src="images/feedback.webp" alt="avatar" />
            <div class="text">
              <h4>Matthew Paul</h4>
              <p>
                Perfect, very good job! Thank you for the amazing design and
                work. Really impressed with the high quality and quick
                turnaround time. Highly recommend.
              </p>
            </div>
          </div>

          <div class="slide swiper-slide">
            <img src="images/feedback.webp" alt="avatar" />
            <div class="text">
              <h4>Matthew Paul</h4>
              <p>
                Perfect, very good job! Thank you for the amazing design and
                work. Really impressed with the high quality and quick
                turnaround time. Highly recommend.
              </p>
            </div>
          </div>

          <div class="slide swiper-slide">
            <img src="images/feedback.webp" alt="avatar" />
            <div class="text">
              <h4>Matthew Paul</h4>
              <p>
                Perfect, very good job! Thank you for the amazing design and
                work. Really impressed with the high quality and quick
                turnaround time. Highly recommend.
              </p>
            </div>
          </div>
        </div>

        <div class="controls"></div>
      </div>
    </div>

    <div class="chain">
      <img src="images/chain1.webp" alt="" />
      <img src="images/chain2.webp" alt="" />
      <img src="images/chain3.webp" alt="" />
      <img src="images/chain4.webp" alt="" />
      <img src="images/chain5.webp" alt="" />
      <img src="images/chain6.webp" alt="" />
      <img src="images/chain7.webp" alt="" />
      <img src="images/chain8.webp" alt="" />
    </div>
  </div>
</section>
