<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="column">
        <div class="header">
          <svg>
            <use xlink:href="sprite.svg#logo"></use>
          </svg>
        </div>
        <p>
          Leading digital agency with solid design and development expertise. We
          build readymade websites, mobile applications, and elaborate online
          business services.
        </p>
      </div>

      <div class="column">
        <h5 class="header">What We Do</h5>
        <div class="links">
          <a href="#" target="_blank">Web Design</a>
          <a href="#" target="_blank">App Design</a>
          <a href="#" target="_blank">Social Media Manage</a>
          <a href="#" target="_blank">Market Analysis Project</a>
        </div>
      </div>

      <div class="column">
        <h5 class="header">Company</h5>
        <div class="links">
          <a href="#" target="_blank">About Us</a>
          <a href="#" target="_blank">Career</a>
          <a href="#" target="_blank">Become Investor</a>
        </div>
      </div>

      <div class="column">
        <h5 class="header">Support</h5>
        <div class="links">
          <a href="#" target="_blank">FAQ</a>
          <a href="#" target="_blank">Policy</a>
          <a href="#" target="_blank">Business</a>
        </div>
      </div>

      <div class="column">
        <h5 class="header">Contact</h5>
        <div class="links">
          <a href="#" target="_blank">WhatsApp</a>
          <a href="#" target="_blank">Support 24</a>
        </div>
      </div>
    </div>

    <div class="social">
      <a href="#" target="_blank">
        <svg class="facebook">
          <use xlink:href="sprite.svg#facebook"></use>
        </svg>
      </a>

      <a href="#" target="_blank">
        <svg class="twitter">
          <use xlink:href="sprite.svg#twitter"></use>
        </svg>
      </a>

      <a href="#" target="_blank">
        <svg class="linkedin">
          <use xlink:href="sprite.svg#linkedin"></use>
        </svg>
      </a>
    </div>
  </div>

  <div class="copyright">Copyright © 2022 Avi Yansah</div>
</footer>
