<header class="header">
  <div class="container">
    <a href="#" class="logo">
      <svg>
        <use xlink:href="sprite.svg#logo"></use>
      </svg>
    </a>
    <nav>
      <ul class="links">
        <li><a href="#hero" class="anchor">Home</a></li>
        <li><a href="#clients" class="anchor">What We Do</a></li>
        <li><a href="#help" class="anchor">Service</a></li>
        <li><a href="#product" class="anchor">Project</a></li>
        <li><a href="#feedback" class="anchor">Blog</a></li>
        <li><a href="#subscribe" class="anchor">Contact</a></li>
      </ul>
    </nav>
    <button class="menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>
