<section id="help" class="help">
  <div class="container">
    <div class="content">
      <h2>How can we help your Business ?</h2>
      <p>
        We build readymade websites, mobile applications, and elaborate online
        business services.
      </p>
    </div>

    <div class="blocks">
      <div class="block idea">
        <div class="icon">
          <svg>
            <use xlink:href="sprite.svg#search"></use>
          </svg>
        </div>
        <h4>Business Idea Planning</h4>
        <p>We present you a proposal and discuss niffty-gritty like</p>
      </div>

      <div class="block financial">
        <div class="icon">
          <svg>
            <use xlink:href="sprite.svg#wallet"></use>
          </svg>
        </div>
        <h4>Financial Planning System</h4>
        <p>Protocols apart from aengage models, pricing billing</p>
      </div>

      <div class="block development">
        <div class="icon">
          <svg>
            <use xlink:href="sprite.svg#code"></use>
          </svg>
        </div>
        <h4>Development Website and App</h4>
        <p>Communication protocols apart from engagement models</p>
      </div>

      <div class="block analysis">
        <div class="icon">
          <svg>
            <use xlink:href="sprite.svg#chart"></use>
          </svg>
        </div>
        <h4>Market Analysis Project</h4>
        <p>Protocols apart from aengage models, pricing billing</p>
      </div>
    </div>
  </div>
</section>
