<section id="hero" class="hero">
  <div class="container">
    <div class="content">
      <h2 class="title">A Digital Product Agency</h2>
      <p class="text">
        Leading digital agency with solid design and development expertise. We
        build readymade websites, mobile applications, and elaborate online
        business services.
      </p>
      <a href="#subscribe" class="button anchor">Contact Now</a>
    </div>

    <div class="right">
      <img src="images/hero.webp" alt="" />
    </div>
  </div>
</section>
